@charset "utf-8";

.nav-item-1, .nav-item-2, .nav-item-3{
    color: #fff;
    margin-top: 25px;
    text-align: center;
}
.nav-item-2{
    font-size: 23px;
    margin-top: 15px;
}
.nav-item-1{
    text-align: left;
}
.nav-item-3{
    text-align:right; 
}
.navbar{
    background-color: #1ABC9C;
    height: 60px;
    margin-bottom: 0;
}
.container{
	padding-top: 20px;
	margin: 10px 10px;
}
p{
	font-family: "微软雅黑"；
	font-size：20px;
	color: #333946;
}
.share{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 340px;
	background-color: white;
	text-align: center;
}
.icon {
       width: 1em; height: 1em;
       vertical-align: -0.15em;
       fill: currentColor;
       overflow: hidden;
    }
.share-ico{
       width: 42px;
       height: 42px;
    }
.block{
	width: 90px;
	position: relative;
	text-align: center;
}
h5{
	margin: 20px 0;
}
.top-icon{
    width: 20px;
    height: 20px;
}